.service {
  gap: 80px;
  margin: 80px 170px;
}

.service-title h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px; /* Adjust as needed */
}

.service-title h1 span {
  color: #21D4FD;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.service-format {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
  width: 300px; /* Adjust width as needed */
}

.service-icon {
  align-self: center;
}

.service-content {
  text-align: center;
}

.service-format h3 {
  font-size: 28px;
  font-weight: 600;
}

.service-format h2 {
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-format p {
  color: #d4d4d4;
  font-size: 20px;
  line-height: 30px;
  max-width: 100%;
}

.service-format:hover {
  border: 2px solid #290d48;
  background-image: linear-gradient(45deg, #00113f, #005158);
  transform: scale(1.05);
  transition: 0.4s;
}

/* Media query for laptop screens (1025px to 1440px) */
@media (max-width: 1440px) and (min-width: 1025px) {
  .service {
    margin: 40px 120px;
  }

  .service-format {
    width: 40%; /* Adjust width for better alignment on laptop screens */
  }
}

/* Media query for tablet screens (769px to 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
  .service {
    margin: 40px 100px;
  }

  .service-format {
    width: 38%; /* Adjust width for two items per row */
  }

  .service-format h2 {
    font-size: 32px;
  }

  .service-format p {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Media query for mobile screens (max-width: 768px) */
@media (max-width: 768px) {
  .service {
    align-items: center;
    gap: 70px;
    margin: 20px 70px;
  }

  .service-title {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .service-title h1 {
    font-size: 40px;
    margin: 0;
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .service-format {
    width: 100%; /* Ensure full width on smaller screens */
  }

  .service-format h2 {
    font-size: 28px;
  }

  .service-format p {
    font-size: 18px;
    line-height: 24px;
    max-width: 100%;
  }
}
