.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 80px 170px;
}

.about-sections {
  display: flex;
  gap: 80px;
  align-items: flex-start; /* Align items at the top */
}

.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-left h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
.about-left h1 span{
  color: #21d4fd;
}

.about-left img {
  max-width: 100%; /* Ensure image is responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 25px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 500px; /* Limit the width to keep content aligned */
}

.about-para {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skills h2 {
  font-size: 32px;
  font-weight: 600;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.icon-box svg {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.skill-icon:hover .icon-box svg {
  transform: rotate(15deg); /* Adjust rotation angle */
}

.skill-icon p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-achievement h1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .about {
    gap: 50px;
    margin: 50px 70px;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left h1 {
    font-size: 28px;
  }
  .about-left img {
    display: none; /* Hide image on tablets */
  }
  .about-para {
    font-size: 16px;
    line-height: 24px;
  }
  .about-skills h2 {
    font-size: 28px;
  }
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .icon-box {
    width: 60px;
    height: 60px;
  }
  .skill-icon p {
    font-size: 14px;
  }
  .about-achievements {
    justify-content: space-between;
  }
  .about-achievement h1 {
    font-size: 34px;
  }
  .about-achievement p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .about {
    gap: 50px;
    margin: 50px 40px;
  }
  .about-left img {
    display: none; /* Hide image on mobile */
  }
}
